---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Técnico Superior en Desarrollo móvil",
    company: "Logo - Circular Luxury Closet",
    description:
      "En mis prácticas de DAM estoy metida en el desarrollo de una app 'de prueba' antes de lanzarnos con la versión real. Es mi primer contacto con cómo se trabaja en una empresa de verdad, y aunque aún estoy aprendiendo, cada día pillo mejor cómo va esto",
    link: "https://logo.cl/",
  }
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
