---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Técnico Superior en Desarrollo móvil",
    company: "Logo - Circular Luxury Closet",
    description:
      "Formación en desarrollo de aplicaciones móviles con Kotlin y Android Studio. Aprendí a crear aplicaciones con un enfoque a escala real, incluyendo testing, arquitectura, flujos de trabajo y buenas prácticas.",
    link: "https://logo.cl/",
  }
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
